.linear-container {
  text-align: center;
  padding: 20px;
}

.steps {
  background: #eef2f7;
  padding: 15px;
  margin: 20px auto;
  width: 60%;
  border-radius: 10px;
  text-align: left;
}

.controls {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

.controls select {
  padding: 8px;
  margin-right: 10px;
}

.controls button {
  padding: 8px 15px;
  background: #2a5298;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
 
}

.chart {
  display: flex;
  justify-content: center;   /* 👈 centers horizontally */
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
.metrics {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

/* Individual cards */
.metric-box {
  background: #ffffff;
  padding: 18px;
  width: 130px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

/* Hover */
.metric-box:hover {
  transform: translateY(-5px);
}

/* Title */
.metric-box h4 {
  margin-bottom: 8px;
  color: #666;
}

/* Value */
.metric-box p {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  text-align: left;
}

.modal-content button {
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  background: #6D8196;   /* 👈 updated */
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.modal-content button:hover {
  background: #5a6d80;
}

.bad {
  color: red;
}

.good {
  color: #2a5298;
}
/* .metrics-wrapper {
  background: #e9edf3;   
  border-radius: 16px;
  width: fit-content;
  margin: 30px auto;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
} */